# Ignore dataset folders and images
**/image/
**/dataset/
**/db/
*.webp
*.jpeg
*.jpg
*.png

# Ignore massive video files
*.mp4
*.avi
*.mov

# Ignore heavy AI model weights
*.pkl
*.pt
*.h5

# Ignore generated log files
*.csv

# Ignore Python cache
__pycache__/